#empleados tr:nth-child(even){background-color: #f2f2f2;}

#empleados tr:hover {background-color: #ddd;}

#empleados th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #c4500b;
  color: white;
}
input[type=text], select {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 150px;
  background-color: #8080ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button] {
  width: 150px;
  background-color: #8080ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}