<!DOCTYPE div PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Empleados</title>
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link th:href="@{/css/empleados.css}" rel="stylesheet" />
	
</head>
<body>


<form action="#" th:action="@{/filterEmpleados}" th:object="${empleadorform}" method="post">
   
   <table>
   <tr>
      <td>Supervisor:</td>
      <td><input type="text" th:field="*{supervisor}"  id="supervisor"/></td>
   </tr>
   <tr>
      <td>Clase:</td>
      <td><input type="text" th:field="*{clase}" id="clase"/></td>
   </tr>
   <tr>
      <td>Departamento:</td>
      <td><input type="text" th:field="*{departamento}" id="departamento"/></td>
   </tr>
   <tr>
      <td>Subsidiaria:</td>
      <td> <input type="text" th:field="*{subsidiaria}" id="subsidiaria"/></td>
   </tr>
   
   </table>
   
	<p><input type="submit" value="Consultar" id="consultar" /> <input type="button" id="resetform" value="Reset Formulario" />
</form>

	
	<table align="center">
  <tr>
    <td>
		<form action="#" th:action="@{/getExcel}" method="get">
			<input type="submit" value="Reporte Excel" />	
		</form>       
    </td>
    <td>
		<form action="#" th:action="@{/getCsv}" method="get">
			<input type="submit" value=" Reporte CSV" />	
		</form>       
    </td>
    <td>
		<form action="#" th:action="@{/getPdf}" method="get">
			<input type="submit" value=" Reporte  PDF" />	
		</form>       
    </td>
  </tr>
</table>






<div th:switch="${empleados}">
    <h2 th:case="null">No empleados yet!</h2>
        <div th:case="*">
            <table id= "empleados">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cargo</th>
                        <th>Supervisor</th>
                        <th>Clase</th>
                        <th>Subsidiaria</th>
                        <th>Departamento</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="empleado : ${empleados}">
                    <td th:text="${empleado.nombre}"></td>
                    <td th:text="${empleado.cargo}"></td>
                    <td th:text="${empleado.supervisor}"></td>
                    <td th:text="${empleado.clase}"></td>
                    <td th:text="${empleado.subsidiaria}"></td>
                    <td th:text="${empleado.departamento}"></td>
                    
                </tr>
            </tbody>
        </table>
    </div>      
</div>

</body>
<script>
$("#resetform").click(function() {
   $("#supervisor").val("");
   $("#clase").val("");
   $("#departamento").val("");
   $("#subsidiaria").val("");
});
</script>	

</html>

